{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Puzzle Hints</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    </head>
    <body>
        {% if not is_available %}
        <div class="hint-timer-banner">
            <p>available in <strong id="countdown">{{ days_until_unlock }}</strong> day{{ days_until_unlock|pluralize }}</p>
        </div>
        {% endif %}

        <h1>Hint {{ hint_number }}</h1>
        <div>
            <p>Der erste Tage dieses Räselspiels ist angelaufen und was sehen meine Augen da... ein... ein random Typ? Was soll der mit diesem ganzen Thema zutun haben? Mysteriös, ob er wohl weitere Spuren hinterlassen hat?</p>
            <img src="{% static 'images/PersonToChase.jpg' %}" alt="Person to chase" style="max-width: 280px; width: 100%; height: auto;" />
        </div>

        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>
